delayed_email_mongodb__uri='mongodb://localhost:27017/receiver'
delayed_email_mongodb__db_name=receiver
delayed_email_smtp__server=smtp.gmail.com
delayed_email_smtp__port=587
delayed_email_smtp__username=example_email@gmail.com
delayed_email_smtp__password=
delayed_email_rabbitmq__username=user
delayed_email_rabbitmq__password=password
delayed_email_rabbitmq__host=localhost
delayed_email_rabbitmq__port=15672
